.emoji{
  font-size: 40px;
}

.emoji-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.emoji-card {
  width: 200px;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
}

.emoji-details {
  margin-top: 10px;
}

.emoji-details p {
  margin: 5px;
}

.emoji-large {
  font-size: 40px;
}


h1 {
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

form,
p {
  display: flex;
  align-items: center;
}

label {
  margin-right: 10px;
}

select {
  padding: 5px;
  margin-right: 10px;
}

button {
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.pagination button {
  margin: 0 5px;
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.pagination button:hover {
  background-color: #0056b3;
}

.pagination button.active {
  background-color: #0056b3;
  font-weight: bold;
}

